<!--The content below is only a placeholder and can be replaced.-->

<!-- <input type="text" [value]="name"> -->

<!-- {{name}}
<input type="text" [(ngModel)]="name"> 

<a href="https://www.google.com">Google</a>

<a [href]="url">Google</a> -->

<!-- <button (click)="zzz()">Click Me</button> -->

<!-- <app-lesson1></app-lesson1> -->
<!-- 這是Lesson2 -->
<!-- <app-lesson3> </app-lesson3> -->

<!-- {{aaa.accout}} -->

<!-- <app-pratice1> </app-pratice1> -->

<!-- <app-lesson5-t> </app-lesson5-t> -->
<!-- <app-lesson6-1> </app-lesson6-1> -->
<a [routerLink]="['/lesson1']">1</a>
<a [routerLink]="['/lesson2']">2</a>
<a [routerLink]="['/lesson3']">3</a>
<a [routerLink]="['/lesson4']">4</a>
<a [routerLink]="['/lesson5']">5</a>
<br>
<router-outlet></router-outlet>

<!-- <a href=""></a> -->